.ace-editor {
    display: inline-block;
}

.code-view {
    width: 500px;
    height: 500px;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.code-view-wide {
    width: 1000px;
    height: 500px;
    position: relative;
    display: inline-block;
    overflow: hidden;
}