.card-container {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.card-content {
    color: #52d3fa;
    background-color: #2C5B61;
    font-size: 25px;
    padding: 25px;
    border-radius: 15px;
    border: 1px solid #52d3fa;
}

.card-content h1, .card-content h2 {
    margin: 10px 0;
}


.card-content p {
    font-size: 30px;
}

.copyright-info {
    float: right;
    font-size: 15px;
    color: darkgray;
}
