body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

code {
    color: darkgray;
}

.react-dat-gui.demo-dat-gui {
    position: absolute;
    top: initial;
    z-index: 1;
    right: 0;
}

.slide-select {
    position: absolute;
    z-index: 1;
}

.space-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button:hover {
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}
.button:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
}

.button {
    border: none;
    border-radius: 2px;
    padding: 12px 28px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    background-color: #52d3fa;
    box-shadow: 0 0 4px #999;
    outline: none;
    background-position: center;
    transition: background 0.8s;
}