body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

code {
    color: darkgray;
}

.react-dat-gui.demo-dat-gui {
    position: absolute;
    top: initial;
    z-index: 1;
    right: 0;
}

.slide-select {
    position: absolute;
    z-index: 1;
}

.space-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
